/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; 
}

ol, ul {
	list-style: none;
	li {
		margin: 10px 0;
	}
}

a {
	text-decoration: none;
	color: blue;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	background: #eee;
	font-family: 'MS Gothic', monospace;
	text-transform: uppercase;
}

nav {
	align-items: center;
	display: flex;
	height: 25px;
	justify-content: center;
	left: 0;
	padding: 0;
	position: fixed;
	top: 10px;
	width: 100%;
	a {
		color: black;
		margin: 0 20px;
		padding: 0 20px;
	}
}

.lt {
	text-decoration: line-through;
}

.title {
	background: blue;
	color: white;
	display: block;
	padding: 5px;
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	height: -moz-available;          /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	height: fill-available;
	justify-content: center;
	width: 100%;
}

.inner-column {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	min-height: 40%;
	width: 100%;
}

.shows {
	background: yellow;
	padding: 5px 0;
}

.shape {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1; 
	.square {
		animation-duration: 3s;
		animation-name: rotate;
		border: 20px solid white;
		height: 300px;
		text-align: center;
		width: 300px;
		&.white {
			border: 20px solid white;
		}
		&.red{
			border: 20px solid red;
		}
		&.yellow {
			border: 20px solid yellow;
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}