<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="Levinson / Mahlmeister"/>
    <meta name="keywords" content="Levinson, Mahlmeister, dabient, ambient, chicago, band, music, modular, synth"/>
    <meta name="title" content="Levinson / Mahlmeister" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Levinson / Mahlmeister" />
    <meta property="og:url" content="http://dadbient.com" />
    <meta property="og:description" content="Levinson / Mahlmeister" />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="dadbient.com">
    <meta name="twitter:title" content="Levinson / Mahlmeister">
    <meta name="twitter:description" content="Levinson / Mahlmeister">
    <meta property="twitter:image" content=""/>
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include nav.html %}
    <div class="main">
    	{{ content }}
  	</div>
  </body>height
</html>